/*
Syntax error: Undefined variable: "$s".
        on line 20 of /home/saravanan/Desktop/shapado/app/stylesheets/shapado/others/content-nav.sass

15:       width: auto
16:       padding: 0 15px 0 36px
17:       display: block
18:       line-height: 35px
19:       text-transform: uppercase
20:       font-size: $s
21:       background-position: 7px 50%
22:       background-repeat: no-repeat
23: 
24:     &.questions a
25:       background-image: url("/images/q-icon-medium.png")

Backtrace:
/home/saravanan/Desktop/shapado/app/stylesheets/shapado/others/content-nav.sass:20
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/script/variable.rb:49:in `_perform'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/script/node.rb:40:in `perform'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:216:in `visit_prop'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `each'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/plugin.rb:54:in `check_for_updates'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.12/lib/sass/plugin/rack.rb:51:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-recaptcha-0.2.2/lib/rack/recaptcha.rb:34:in `_call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-recaptcha-0.2.2/lib/rack/recaptcha.rb:24:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/bundler/gems/mongoid_ext-e1338a71841c/lib/mongoid_ext/file_server.rb:17:in `call'
/home/saravanan/Desktop/shapado/app/middlewares/dynamic_domain.rb:17:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/bundler/gems/PDFKit-f468adae4bc4/lib/pdfkit/middleware.rb:16:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/bundler/gems/bug_hunter-3a7d633bdba1/lib/bug_hunter/middleware.rb:10:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.6/lib/warden/manager.rb:35:in `block in call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.6/lib/warden/manager.rb:34:in `catch'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.6/lib/warden/manager.rb:34:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/etag.rb:23:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/conditionalget.rb:25:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/flash.rb:247:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:195:in `context'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:190:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/cookies.rb:331:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.1.3/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.1.3/lib/active_support/callbacks.rb:81:in `run_callbacks'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/sendfile.rb:101:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.1.3/lib/rails/rack/logger.rb:13:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/methodoverride.rb:24:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/runtime.rb:17:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.1.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/lock.rb:15:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.3/lib/action_dispatch/middleware/static.rb:53:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.1.3/lib/rails/engine.rb:456:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/content_length.rb:14:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.1.3/lib/rails/rack/log_tailer.rb:14:in `call'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.6/lib/rack/handler/mongrel.rb:77:in `process'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:165:in `block in process_client'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `each'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `process_client'
/home/saravanan/.rvm/gems/ruby-1.9.2-p180/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:291:in `block (2 levels) in run'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$s\".\A         on line 20 of /home/saravanan/Desktop/shapado/app/stylesheets/shapado/others/content-nav.sass\A \A 15:       width: auto\A 16:       padding: 0 15px 0 36px\A 17:       display: block\A 18:       line-height: 35px\A 19:       text-transform: uppercase\A 20:       font-size: $s\A 21:       background-position: 7px 50%\A 22:       background-repeat: no-repeat\A 23: \A 24:     &.questions a\A 25:       background-image: url(\"/images/q-icon-medium.png\")"; }
